@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4">Welcome to the GC Movie Page!</h1>

<h4>To browse the database click <a asp-controller="Movie" asp-action="Index">here</a>.</h4>
<br/>
<h4>To search for movies in the database click <a asp-controller="Movie" asp-action="Search">here</a>.</h4>
<br />
<h4>To add a movie to the database click <a asp-controller="Movie" asp-action="AddMovie">here</a>.</h4>


